* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

html {
    scroll-behavior: smooth;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #00ffd5, #0f2027);
    text-align: center;
}

.hero span {
    color: #00ffd5;
}

.btn {
    margin-top: 20px;
    padding: 12px 20px;
    background: #00ffd5;
    color: black;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a.active {
    border-bottom: 2px solid #00ffd5;
}

/* CARDS */
.card {
    background: rgba(255,255,255,0.1);
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
}

/* IMAGE */
img {
    width: 150px;
    border-radius: 50%;
    margin: 15px 0;
}

/* PROJECT */
.project {
    background: rgba(255,255,255,0.15);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.project:hover {
    transform: scale(1.05);
}

/* CONTACT */
.contact-info p {
    margin: 10px 0;
}

.contact-info a {
    color: #00ffd5;
    text-decoration: none;
}

/* SOCIAL */
.socials {
    margin-top: 15px;
}

.socials a {
    display: inline-block;
    margin-right: 15px;
    color: #00ffd5;
    text-decoration: none;
}

.socials a:hover {
    text-decoration: underline;
}

.socials i {
    margin-right: 8px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: rgba(0,0,0,0.3);
}

/* ANIMATION */
.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .hero h1 {
        font-size: 2rem;
    }
}